<!DOCTYPE html>
<html lang="ru">

<head>
   <meta charset="utf-8">
    <meta name="description" CONTENT="Купоны и промокоды">
  <title>ROCOWEAR - скидки на одежду и аксессуары</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/wear.css">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="photos/favicon.ico" type="image/x-icon">
</head>

<body>

  <nav class="navbar navbar-dark">
    <a class="navbar-brand" href="/#wear">
      <img style="max-height: 31px; width: auto;" src="/photos/Hw-logo.webp" type='image/webp' class="d-inline-block align-top" alt="" >
      <h3 class="wear-h3">ROCOCO</h3>
    </a>
    <button class="ui icon button" aria-label="instagram">

     <i class="large telegram plane icon" onClick='location.href="https://t.me/gorococo"'></i>
    </button>
  </nav>

  <header class="parallax">
    <div class="header-text">
      <h1>ROCOWEAR</h1>
      <h2>Happy halloween!</h2>
    </div>
  </header>

  <div class="ui four column centered grid">

      <% wearCards.reverse().forEach(function(card){ %>

    <div class="ui link cards">
      <div class="card">
        <div class="image">
          <img src="<%=card.image%>"  alt="">
        </div>
        <div class="content">
          <div class="header"> <h2><%=card.title%></h2> </div>
          <div class="meta">
            <p class="text-muted"><%=card.subtitle%></p>
          </div>
          <hr class="featurette-divider">
          <div class="description">
           <p> <%=card.description%> </p>
        </div>
      </div>
      <div class="extra content">
        <span>
          <a href="<%=card.link%>" class="text-muted">Перейти на сайт</a>
        </span>
      </div>
    </div>
    </div>

     <% }); %>

</div>


 <div class="footer"></div>
</body>
</html>